
/*Colors*/
/*Primary*/
$c-primary-light: hsl(193, 38%, 86%);
$c-primary: hsl(150, 100%, 66%);
/*Neutral*/
$c-neutral: hsl(217, 19%, 38%);
$c-neutral-dark:  hsl(217, 19%, 24%);
$c-neutral-darker:  hsl(218, 23%, 16%);


/*spacing*/
$padding-xs: 1rem;
$padding-s: 2rem;
$padding-m: 3rem;
$padding-l: 4rem;
$padding-xl: 6rem;


